<div class="main user-show">
  <div class="container-show">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>
    
    <div class="arrange">
      <% @user.posts.all.reverse.each do |post| %>
        <div class="arrange-right">
          <video width="180px" height="120px" src="<%= "/user_videos/#{post.video}" %>" controls></video>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      <% end %>
    </div>
  </div>
</div>